.html_file_wrapper {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1 !important;
}
.html_file {
  height: 100%;
  overflow: auto;
  position: relative;
  width: 100%;
  z-index: 1 !important;
  transform-origin: top left;
  transform: scale(1);
  cursor: grab;
}

.html_file:active {
  cursor: grabbing;
}

.html_file_controls {
  gap: 10px;
  display: flex;

  button {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__container {
    gap: 5px;
    top: 5px;
    right: 20px;
    z-index: 2;
    display: flex;
    position: absolute;
    flex-direction: column;
  }
}

.pdf_extractor_controls {
  gap: 10px;
  display: flex;
  button {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__container {
    gap: 5px;
    top: 5px;
    left: 10px;
    z-index: 2;
    display: flex;
    position: absolute;
    flex-direction: column;
  }
  &__text {
    padding: 5px;
    width: fit-content;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.title {
  gap: 1rem;
  display: flex;
  align-items: center;
}

.instructions {
  overflow: hidden;
  transition: all 0.25s ease-in-out;
}

.instructions--hidden {
  height: 0;
  opacity: 0;
  user-select: none;
}
